<div style="padding:10px;">
    <h2>Booking Confirmed</h2>
    <div style="display: flex;">
        <img src="/assets/images/driver/1.jpg" style="border-radius: 6px;height: 80px;width:80px"/>
        <div style="flex:auto;margin-left:15px;">
            <p>Chandran L</p>
            <app-star-rating [rating]="rating"  [starCount]="starCount" [color]="starColor" (ratingUpdated)="onRatingChanged($event)"></app-star-rating>
            <p>Total trip 84</p>
        </div>
        <a href="tel:+917358630994">
            <mat-icon style="border-radius: 50%;background-color: #3f51b5;padding:10px;color: white;">call</mat-icon>
        </a>
    </div>
    <p class="font-primary" *ngIf="timer > 0">Your cab will be arriving in <span>{{ timer }} Mins</span></p>
    <p class="font-secondary" *ngIf="timer === 0">Your cab has been arrived, call your diver</p>
    <p>please share OTP sent to your mobile to start ride</p>
    <div style="display:flex;margin-top: 20px;justify-content: space-between">
        <div style="flex:1;background-color: #efefef;padding:10px;text-align: center;margin-right:10px;border-radius: 6px;">
            <p><b>CASH</b></p>
            <p>Payment</p>
        </div>
        <div style="flex:1;background-color: #efefef;padding:10px;text-align: center;margin-right:10px;border-radius: 6px;">
            <p><b>23min</b></p>
            <p>Duration</p>
        </div>
        <div style="flex:1;background-color: #efefef;padding:10px;text-align: center;border-radius: 6px;">
            <p class="font-primary"><b>₹ 120</b></p>
            <p>Trip Price</p>
        </div>
    </div>
    <div style="display: flex;padding: 10px 0; margin:10px 0;border-top:1px solid #ccc;border-bottom:1px solid #ccc;justify-content: space-between;">
        <div>Car Detail:  </div>
        <div style="border-right:1px solid #999;padding-right: 10px;">HONDA</div>
        <div style="border-right:1px solid #999;padding-right: 10px;">AMAZE</div>
        <div>TN14 Z 1234</div>
    </div>
    <div style="display: flex;justify-content: space-between;">
        <button mat-raised-button color="secondary"><mat-icon>home</mat-icon>HOME</button>
        <button mat-raised-button color="primary" class="btn-medium" style="flex: auto;">CANCEL BOOKING</button>
      </div>
</div>
