<div>
    <h2>Booking Confirmed</h2>
    <a-driver-detail [tripDetail]="tripDetail" class="pd-tb-10"></a-driver-detail>
    <p class="font-primary" *ngIf="tripDetail.vechileTimer > 0">
        Your cab will be arriving in 
        <span>{{ tripDetail.vechileTimer }} Min</span>
    </p>
    <p class="font-secondary" *ngIf="tripDetail.vechileTimer === 0">
        Your cab has been arrived, call your diver
    </p>
    <p>please share OTP sent to your mobile to start ride</p>
    <div class="flex_box space_between m_t_2">
        <div class="round_box">
            <p><b>{{ tripDetail.paymentMode }}</b></p>
            <p>Payment</p>
        </div>
        <div class="round_box">
            <p><b>{{ tripDetail.duration }} Mins</b></p>
            <p>Duration</p>
        </div>
        <div class="round_box">
            <p class="font-primary"><b>₹ {{ tripDetail.approxPrice }}</b></p>
            <p>Trip Price</p>
        </div>
    </div>
    <div style="display: flex;justify-content: space-between;" class="m-t-10">
        <button mat-raised-button color="secondary"><mat-icon>home</mat-icon>HOME</button>
        <button mat-raised-button color="primary" class="m-l-10" style="flex: auto;">CANCEL BOOKING</button>
    </div>
</div>
