<mat-list>
    <mat-list-item *ngFor="let ride of rideData" [routerLink]="'/trip/'+ride.id">
        <div class="trip-list-data">
            <div>
                <img [src]="'/assets/images/car/'+ride.cabType.toLowerCase()+'.png'" />
            </div>
            <div class="detail">
                <div><b>{{ ride.date }}</b></div>
                <div>{{ ride.cabType }} {{ ride.crNo }}</div>
                <a-route-list></a-route-list>
            </div>
            <div><b>₹{{ ride.amount }}</b></div>
        </div>
    </mat-list-item>
</mat-list>