:host {
    display: block;
    box-sizing: border-box;
}

.mat-mdc-list-item{
    height: auto;
    border-bottom: 1px solid #ccc;
}


.trip-list-data {
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
}

.trip-list-data img {
    width:40px;object-fit: scale-down;
}

.trip-list-data .detail {
    width:calc(100% - 100px);
}