<mat-list>
    <h2>My Profile<mat-icon>arrow_forward_ios</mat-icon></h2>
    <mat-list-item>
      <mat-icon matListItemIcon color="accent">history</mat-icon>
      <p>Your Rides</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>payment</mat-icon>
      <p>Payment</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>support</mat-icon>
      <p>Support</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>info</mat-icon>
      <p>About</p>
    </mat-list-item>
  </mat-list>