<div>
    <mat-icon class="avatar">account_circle</mat-icon>
</div>
<mat-list class="navlink">
    <h2>My Profile<mat-icon class="v-align-middle">arrow_forward_ios</mat-icon></h2>
    <a mat-list-item href="/rides">
      <mat-icon matListItemIcon class="v-align-middle">history</mat-icon>
      <p>Your Rides</p>
    </a>
    <a mat-list-item href="/rides">
      <mat-icon matListItemIcon class="v-align-middle">payment</mat-icon>
      <p>Payment</p>
    </a>
    <a mat-list-item href="/rides">
      <mat-icon matListItemIcon class="v-align-middle">support</mat-icon>
      <p>Support</p>
    </a>
    <a mat-list-item href="/rides">
      <mat-icon matListItemIcon class="v-align-middle">info</mat-icon>
      <p>About</p>
    </a>
  </mat-list>