.app_header_home {
    position: fixed;
    top:0;
    left:0;
    z-index:11;
    padding: 10px;
}

.app_header_other {
    display: flex;
    padding: 10px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
}