.app_header_home {
    position: absolute;
    top:0;
    left:0;
    z-index:11;
    padding: 10px;
}

.app_header_other {
    display: flex;
    padding: 10px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 12;
}

.page_loader {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 13;
}

.bg_loading {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 11;
    background-color: #fff;
}