:host {
    width:100%;
}

.thumb_image {
    width: 80px;
    height: auto;
}

.btn-medium {
    width: 200px;
    margin-left: 20px;
}

.cab-selection ::ng-deep .mat-mdc-list-item {
    background-color: #efefef;
    margin-bottom: 10px;
}