.place-selection-container {
    background: #fff;
    border-radius: 6px;
    max-width: 420px;
}

.input-area{
    margin:0 20px;
    display: block;
    position: relative;
}

::ng-deep .mat-mdc-list-item:not(:last-child)::after {
    content: '';
    position:absolute;
    bottom:0;
    left:0;
    width:80%;
    border-bottom: 1px solid #ccc;
}

::ng-deep .mat-mdc-list {
    width: 100%;
}

.input-area::before{
    content:'';
    position: absolute;
    display: inline-block;
    width:2px;
    height:calc(100% - 65px);
    border-left:2px dashed #bbb;
    top:30px;
    left:10px;
    
}

.mdc-list-item--with-leading-icon .mdc-list-item__start {
    margin:0px;
}