<div class="place-selection-container mat-elevation-z6">
    <mat-list class="input-area">
        <mat-list-item>
            <span matListItemIcon>
                <mat-icon color="primary">location_on</mat-icon>
            </span>
            <a-place-autocomplete placeholder="Departure"></a-place-autocomplete>
        </mat-list-item>

        <mat-list-item>
            <span matListItemIcon>
                <mat-icon color="accent">trip_origin</mat-icon>
            </span>
            <a-place-autocomplete placeholder="Where do you want to go?"></a-place-autocomplete>
        </mat-list-item>
    </mat-list>
</div>