<div>
  <header>
    <button mat-mini-fab (click)="leftSideNav.open()" color="white">
      <mat-icon>menu</mat-icon>
    </button>
  </header>
  
  <app-place-selection class="place-selector"></app-place-selection>
  <app-map></app-map>
  <footer>
    <button mat-raised-button color="primary" (click)="onRideNow()">RIDE NOW</button>
  </footer>
  <router-outlet></router-outlet>
  
  <!--Start of Side bar category list-->
  <app-sidebar #leftSideNav position="start">
      <app-navbar ngProjectAs="body"></app-navbar>
  </app-sidebar>
  <!--End of Side bar category list-->
</div>