.place-selector {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

footer{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

footer button {
    width: 80%;
}
