.google_map_container {
    width: 100%;
    display: block;
}

::ng-deep .map-container {
    width: 100vw !important;
    height: 100vh !important;
}

::ng-deep .map-container div:nth-child(2) {
    /*display: none !important;*/
}

::ng-deep .gm-style-cc {
    display: none !important;
}

::ng-deep .gm-style a[href^="https://maps.google.com/maps"] {
    display: none !important;
}
