<div>    
    <mat-list>
        <mat-list-item style="height: auto;border-bottom: 1px solid #ccc;">
            <mat-icon matListItemIcon>home</mat-icon>
            <div style="display: flex;font-size: 14px;padding: 15px 0;">
                <div style="flex:auto">
                    <div><b>Fri, Jun 30, 06:45 AM</b></div>
                    <div>Sedan CRN 747057</div>
                </div>
                <p><b>₹522</b></p>
            </div>                
        </mat-list-item>
        <mat-list-item style="height: auto;border-bottom: 1px solid #ccc;">
            <mat-icon matListItemIcon>home</mat-icon>
            <div style="display: flex;font-size: 14px;padding: 15px 0;">
                <div style="flex:auto">
                    <div><b>Fri, Jun 30, 06:45 AM</b></div>
                    <div>Sedan CRN 747057</div>
                </div>
                <p><b>₹522</b></p>
            </div>                
        </mat-list-item>
        <mat-list-item style="height: auto;border-bottom: 1px solid #ccc;">
            <mat-icon matListItemIcon>home</mat-icon>
            <div style="display: flex;font-size: 14px;padding: 15px 0;">
                <div style="flex:auto">
                    <div><b>Fri, Jun 30, 06:45 AM</b></div>
                    <div>Sedan CRN 747057</div>
                </div>
                <p><b>₹522</b></p>
            </div>                
        </mat-list-item>
    </mat-list>
</div>