:host {
    display: block;
    box-sizing: border-box;
}

.ride_history_detail {
    padding: 20px;
}

.ride_history_detail .status {
    color: var(--status-green);
    font-style: italic;
    background-color: #efefef;
    display: inline-block;
    padding: 5px 10px;
}