<div class="ride_history_detail">
    <h2>Fri, Jun 30, 06:45 AM</h2>
    <p><span class="status">Status: Completed</span></p>
    <a-route-list [small]="false" class="m-tb-10"></a-route-list>
    <a-driver-detail [tripDetail]="tripDetail" class="m-tb-30"></a-driver-detail>
    <ng-template #paymentSplit let-title="title" let-price="price">
        <div class="flex_box space_between f_16 p-tb-10 bor-b">
            <div>{{ title }}</div>
            <div>₹ {{ price }}</div>
        </div>
    </ng-template>
    <div>
        <h2>Payment Details</h2>
        <ng-container
            *ngTemplateOutlet="paymentSplit; context:{title: 'Subtotal', price: tripDetail.approxPrice}"
        ></ng-container>
        <ng-container
            *ngTemplateOutlet="paymentSplit; context:{title: 'Discount', price: 0}"
        ></ng-container>
        <ng-container
            *ngTemplateOutlet="paymentSplit; context:{title: 'Tax', price: 12}"
        ></ng-container>
        <ng-container
            *ngTemplateOutlet="paymentSplit; context:{title: 'Tip', price: 0}"
        ></ng-container>
        <ng-container
            *ngTemplateOutlet="paymentSplit; context:{title: 'Total', price: (tripDetail.approxPrice + 12)}"
        ></ng-container>
    </div>
    <footer class="mat-elevation-z8 fix_bottom">
        <button mat-raised-button color="secondary" class="btn_fill">ADD REVIEW</button>
    </footer>
</div>