/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;}

.mat-mdc-button-base {
    height: 44px !important;
}

:root{
    --primary-color: #3f51b5;
    --secondary-color: #FFA500;
    --status-green: #008000;
    --mdc-protected-button-container-color: #FFA500;
}

.fix_bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding:10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.bor-b {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.m-tb-10, .m-t-10, .m-tb-30 {
    display: block;
}

.m-tb-10{
    margin: 10px 0;
}

.m-t-10 {
    margin-top: 10px;
}

.m-tb-30 {
    margin: 30px 0;
}

div, p, span {
    cursor: none;
}

.mat-icon.mat-accent {
    --mat-icon-color: #FFA500;
}

.mat-icon.small {
    font-size: 12px;
}

.font-primary {
    color: #3f51b5;
}

.font-secondary {
    color: #FFA500;
}

.btn_fill {
    width: 90%;
}

.mdc-fab--mini {
    width: 40px !important;
    height: 40px !important;
}

.mdc-fab--mini.mat-white {
    background-color: #fff;
    color:#000;
}

.v-align-middle { 
    vertical-align: middle;
}

.avatar {
    font-size: 50px;
    line-height: 50px !important;
    width: 50px !important;
    height: 50px !important;
}

.flex_box {
    display: flex;
}

.f_14 {
    font-size: 14px;
}
.f_16 {
    font-size: 16px;
}

.space_between {
    justify-content: space-between
}

.m_t_2 {
    margin-top: 20px;
}
.m-l-10 {
    margin-left: 10px;
}
.p-tb-10 {
    padding:10px 0;
}
.p-tb-20 {
    padding:20px 0;
}

.v-align-middle {
    vertical-align: middle;
}


.cdk-visually-hidden {
    display: none;
}

::ng-deep .cdk-visually-hidden {
    display: none;
}

