/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;}

.mat-mdc-button-base {
    height: 44px !important;
}

:root{
    --mdc-protected-button-container-color: #FFA500;
}

.mat-icon.mat-accent {
    --mat-icon-color: #FFA500;
}

.mat-icon.small {
    font-size: 12px;
}

.font-primary {
    color: #3f51b5;
}

.font-secondary {
    color: #FFA500;
}
.btn-medium {
    width: 200px;
    margin-left: 20px;
}

.mdc-fab--mini {
    width: 40px !important;
    height: 40px !important;
}

.mdc-fab--mini.mat-white {
    background-color: #fff;
    color:#000;
}

.v-align-middle { 
    vertical-align: middle;
}

.avatar {
    font-size: 50px;
    line-height: 50px !important;
    width: 50px !important;
    height: 50px !important;
}

.flex_box {
    display: flex;
}

.call_icon {
    border-radius: 50%;
    background-color: #3f51b5;
    padding:10px;color: white;
}

.space_between {
    justify-content: space-between
}

.m_t_2 {
    margin-top: 20px;
}