/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;}

.mat-mdc-button-base {
    height: 44px !important;
}

:root{
    --mdc-protected-button-container-color: #FFA500;
}

.mat-icon.mat-accent {
    --mat-icon-color: #FFA500;
}

.mat-icon.small {
    font-size: 12px;
}

.font-primary {
    color: #3f51b5;
}

.font-secondary {
    color: #FFA500;
}
.btn-medium {
    width: 200px;
    margin-left: 20px;
}